header{
    position: -webkit-sticky;
    position: sticky;
    top:10px;

}

#headcontainer1{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:black;
    color: white;
    padding:30px;     
}
@media screen and (min-width:320px) and (max-width:768px){
    #headcontainer1{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:black;
        color: white;
        padding:30px;     
    }

    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a{
        display: block;
    }
} 

#name{
    color:white;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

a:hover{
    border: 2px solid purple;
}

#navbar {
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

/* Business landing page */

#page1{
    background-color: black;
    width: 100vw;
    height: 90vh;
}

#heading{
    width: 100vw;
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    /* padding: 50px; */
}

#landing{
 width: 45%;
 margin:2%;
 color: white;
 
 font-family: 'Times New Roman', Times, serif;
 font-size: 150px;
 font-weight: 700;
 animation-name:colorchange;
 animation-duration: 2s;
 animation-iteration-count: infinite;
}

@keyframes colorchange{
    0%  {color:white};
    25%  {color: rgb(226, 166, 186)}
    50%  {color: rgb(226, 118, 154)}
    100%  {color: rgb(226, 57, 113)}
 
}

#imagecontainer1{
  
    width:700px;
    height:395px;

    position:absolute;
    left: 50%;
    top: 40%;   
}
/* Down button */

#downbutton{
    position: absolute;
    left:43%;
    top:94%;
}

.arrow {
    border: solid white;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 15px;
  }

.bottom {
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (min-width:426px) and (max-width:1024px){
    #landing{
        font-size: 100px;
    }
    #imagecontainer1{
  
    width:350px;
    height:255px;

    position:absolute;
    left: 50%;
    top: 52%; 
    }

    #downbutton{
        position: absolute;
        left:38%;
        top:94%;
    }
}
@media screen and (min-width:320px) and (max-width:426px){
    #landing{
        font-size: 50px;
    }

    #imagecontainer1{
  
        width:150px;
        height:100px;
    
        position:absolute;
        left: 50%;
        top: 60%; 
        }
    
        #downbutton{
            position: absolute;
            left:38%;
            top:80%;
        }
    
        .arrow {
            border: solid white;
            border-width: 0 5px 5px 0;
            display: inline-block;
            padding: 5px;
          }

}


/* About us page */


#ABcontainer{

        display: flex;
        flex-direction: row;
        height: 100vh;
        width:100vw;
        justify-content: center;

}

   #imagecontainer2{
    margin:5%;
    height:70%;
    width:25%;

   }

   #Textcontainer{

   
    margin:5%;
    height:100%;
    width:50%;

   }

   #ABtext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 300;

   }

   .title{
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
    font-size:100px;
  
}

   @media screen and (min-width:320px) and (max-width: 768px) {
    #ABcontainer{

        display: flex;
        flex-direction: column;
        height: 100vh;
        width:100vw;
        justify-content: center;

   }

   #imagecontainer2{
    
    height:50%;
    width:100%;
   }

   .title{
    font-family: 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:30px;
  
}

#ABtext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 300;
    
} 
   } 




/* Our service */

#page3{
    height:80vh;
   
}

#Textcontainer2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 60vh;
    
}

.card{
 
    min-width:600px;
    border:2px solid black;
    margin:30px;

}

.card:hover{

    background-color: black;
    color: white;
    transition: 0.3s;
}
.cardtitle{
    font-size: 40px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}

.cardtext{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
    

}

@media screen and (min-width:320px) and (max-width: 768px) {
    .cardtitle{
        font-size: 15px;
        font-weight: 400;
        font-family:'Times New Roman', Times, serif;
    }
    
    .cardtext{
        margin-top: 5px;
        font-size: 10px;
        font-weight: 300;
        font-family:'Times New Roman', Times, serif;
        
    
    }
    .card{ 
        min-width:200px;
        max-height: 250px;
        border:2px solid black;
        margin:15px;
    
    }
    
    }



hr{
    color: black;
    border-width: 5px;
    border-color: black;
    width: 80%;
}



/* Form page */

#page4{
    background-color: black;
    color: white;
    padding:5%;
    text-align: center;
}

input{
    width: 80%;
    font-size:24px;
    color: white;
    background-color: black;
    border: 2px solid white;
    margin: 15px;
    padding: 1%;
}

#submit-btn{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight:300;
    width: 200px;
    height: 50px;

}

@media screen and (min-width:320px) and (max-width: 768px) {
input{
    width: 80%;
    font-size:14px;    
}

#submit-btn{
   
    font-size: 14px;
    font-weight:300;
    width: 100px;
    height: 25px;

}

}


















